/**{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}


body{
	height: 100vh;
	width: 100%;
}
*/
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  /*
  background-color: #87CEFA;
  font-family: sans-serif;
  background-image: url('../images/wine.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;*/
}
/*
div.content{
    background-color: blue;
    margin-top: 20px;
    width: 50%;
    text-align:center;
    margin-right: auto;
    margin-left: auto;
}
*/
div.relative {
  position:relative;
  background-color: white;
  text-align: center;
  left: 70px;
  width: 30%;
  height: 680px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
/*margin-top: 15px
  margin-left: 10%
  float:right;*/
}

div.image1 {
    visibility: visible;
    width: 50%;
    float:left;
}

img {
    object-fit: cover;
}

input {
  width: 75%;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.button {
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.button:hover{
    background-color: #4169E1;
}

.button1 {
  background-color: green; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.button1:hover{
    background-color: #32CD32;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}

div.cont{
    background-color: blue;
    margin-top: 100px;
    width: 60%;
    text-align:center;
    margin-right: auto;
    margin-left: auto;
}

div.res {
  background-color: white;
  text-align: center;
  margin: auto;
  width: 30%;
  height: 250px;
  padding-top: 55px;
  padding-bottom: 55px;
  float:right;
}

.image2 {
    visibility: visible;
    width: 70%;
    float:left;
}

.image3 {
    visibility: visible;
    width: 100%;
    float:top;
    border-radius: 15px 15px 0 0;
}

/*
a:link, a:visited {
  background-color: #f44336;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}*/
/*
.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}*/
/*
.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("../images/9b5323084ab37eb0860c598a3ba05aaa.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}*/

.contact-box{
	height: 550px;
	width: 450px;
	margin-top: 25px;
	margin-right: auto;
    margin-left: auto;
	/*display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;*/
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
	/*padding-top: 10px;*/
    padding-bottom: 25px;
    border-radius: 15px;
}
/*
.left4{
	background: url("../images/upload.png") no-repeat center;
	background-size: cover;
	width:650px;
    height:425px;
}

.right{
	padding: 25px 40px;
}
*/